{% extends 'layout.html' %}

{% block body %}



<div class="contentContainer">
    <div class="actionBar">
        <div>
            <button onclick="window.location.href='{{url_for('index')}}';"> 
                <i class="fa-solid fa-arrow-left" style="font-size: .8em;"></i> Return
            </button>
        </div>

        <div>
            <h1> Add New Media </h1>
        </div>

        <div></div>
    </div>

    <form method="post" action="/add">
        <div class="inputForm">

            <div class="inputFormRow">
                <label>Media Title</label>
                <input name="title" placeholder="Enter the title here..." required>
                <p class="error" id="error-title" style="display: none;"></p>
            </div>

            <div class="inputFormRow">
                <label>Media URL</label>
                <input name="url" placeholder="Enter the URL here...">
                <p class="error" id="error-url" style="display: none;"></p>
            </div>

            <div class="inputFormRow">
                <label>Media Img URL</label>
                <input name="imgUrl" placeholder="Enter the Img URL here...">
                <p class="error" id="error-imgurl" style="display: none;"></p>
            </div>

            <div class="inputFormRow">
                <label>Media Preview</label>
                <img id="imgPreview" src="/static/imgs/blank.png">
            </div>

            <button type="submit">Submit</button>

        </div>
    </form>

</div>

<script name="Get Preview Image">
    document.getElementsByName("imgUrl")[0].addEventListener("change", getPreview)
    document.getElementsByName("url")[0].addEventListener("change", autoFetchPreview)

    function getPreview() {
        var imgUrl = document.getElementsByName("imgUrl")[0].value
        var imgPreview = document.getElementById("imgPreview")

        if (!imgUrl) {
            imgUrl = "/static/imgs/blank.png"
        }

        imgPreview.src = imgUrl
    }

    function autoFetchPreview() {
        var urlInput = document.getElementsByName("url")[0]
        var url = urlInput.value

        var imgUrlInput = document.getElementsByName("imgUrl")[0]
        var imgUrl = imgUrlInput.value

        if (url && !imgUrl) {

            if (!url.includes("https://")) {
                url = "https://" + url
                urlInput.value = url
            }

            fetch('/getPreviewImg', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    url: url
                })
            })
            .then(response => response.json())
            .then(data => {
                imgUrlInput.value = data.url
                getPreview()
            })
            .catch(error => {
                console.error('Error:', error);
            });

        }
    }

</script>

{% endblock %}